body {
    background-image: url(img/fundo.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

main {
    background-color: rgba(117, 95, 95, 0.8);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    text-align: justify;
    width: 80%;
    border: white solid;
}

#resumo-historia {
    color: white;
    text-align: center;
    width: 90%;
    margin-left: 5%;
}

#imagem-inicio {
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
.personagens {
    width: 40%;
    padding: 1%;
}
#muralha {
    width: 80%;
}
#titas {
    width: 80%;
}
#dmt {
    width: 70%;
}
footer {
    width: 100%;
    background-color: rgba(33,37,41);
    position: fixed;
    bottom:0;
}




